<div class="container" style="width: 1500px">
    <ngb-tabset>
        <ngb-tab title="Graph">
            <ng-template ngbTabContent>
                <kendo-chart>
                    <kendo-chart-category-axis>
                        <kendo-chart-category-axis-item [categories]="period">
                        </kendo-chart-category-axis-item>
                    </kendo-chart-category-axis>

                    <kendo-chart-title text="Currency relation to Rub"></kendo-chart-title>
                    <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
                    <kendo-chart-series>
                        <kendo-chart-series-item *ngFor="let value of values" type="line" [data]="value.xchangeRate"
                                                 [name]="value.name">
                        </kendo-chart-series-item>
                    </kendo-chart-series>
                </kendo-chart>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Table">
            <ng-template ngbTabContent>
                <kendo-grid [data]="records">
                    <kendo-grid-column field="name" title="Name">
                    </kendo-grid-column>
                    <kendo-grid-column field="date" title="Date" width="230">
                    </kendo-grid-column>
                    <kendo-grid-column field="xchangeRate" title="Exchange Rate" width="230" class="no-padding">
                        <ng-template kendoGridCellTemplate let-dataItem>
              <span class="whole-cell" [style.backgroundColor]="colorCode(dataItem.xchangeRate, dataItem.name)">
                {{ dataItem.xchangeRate }}
              </span>
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>





